.vs/
.vscode/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
sysinfo.txt

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.stacktrace

.idea/
.DS_Store
Thumbs.db
desktop.ini
