player-connection-mode=Listen
player-connection-guid=1171723128
player-connection-debug=1
player-connection-project-name=WizardArena3D
player-connection-ip=192.168.198.1
player-connection-ip=192.168.240.1
player-connection-ip=10.100.102.6
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8ad7a2a1d059479282bb5d668a5ea672
